<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <header>

    </header>

    <h1> Voici mon équipe - THP - Session 11 </h1>
    <p> Ialy - Adrien - Mikael - Julien </p>

    <p>

        <img src="https://image.shutterstock.com/image-vector/super-business-teamteam-businessmen-red-260nw-416150020.jpg" alt="Photo de montagne" />
        
    </p>
  </body>

</html>
