<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>

        <h1> Si tu veux avoir plus d'informations !! </h1>
        <p>Tu peux nous contacter sur Slack !</p>

        <p>

            <img src="https://www.biomonde.fr/userfiles/Fotolia_67414234_XS.jpg" alt="Photo de montagne" />
        </p>

  </body>

</html>
